.newsletter{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 40vh;
    margin: auto;
    margin-bottom: 1em;
    padding: 0 1em;
    padding-top: 2em;
    align-items: center;
  background: linear-gradient(180deg, #f7b53b 0%, #ffffff 50%);
}
.newsletter h1{
    font-size: 2.5em;
    font-weight: 600;
}
.newsletter p{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 600;
    color: rgb(83, 82, 82);
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    gap: 1em;
    
}
.input input{
    width: 350px;
    height: 3em;
    border-radius: 75px;
    border: 1px solid black;
    outline: none;
    display: flex;
    padding-left: 1em;
    
}
.input button{
    width: 150px;
    height: 2.5em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 75px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}